#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1:after {
  content: "";
  animation: 6s swap infinite;
  background: var(--bg-word);
  padding: .2em;
  border-radius: .25em;
  margin-left: .25em;
}

@keyframes swap {
  0% {
    content: "1. Eminem";
  }
  25% {
    content: "2. Linkin Park";
  }
  50% {
    content: "3. Oasis";
  }
  75% {
    content: "4. Coldplay";
  }
  100% {
    content: "1. Eminem";
  }
}
