#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  max-width: 500px;
  background: var(--bg-card);
  border-radius: 20px;
  overflow: hidden;
}

.card-thumbnail img {
  max-width: 100%;
}

.card-body {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  margin: 1em 0 1em 2em;
}

.card-avatar img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.card-firstrow {
  display: flex;
  align-items: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.card-details h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.card-details p {
  font-size: 0.95rem;
  font-weight: 800;
  /* color: var(--username); */
  text-align: start;
}

.card-stats {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2.5em;
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease-in-out;
}

.card-stats ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-stats ul li {
  margin-right: 1em;
}

.card:hover .card-stats {
  display: flex;
  opacity: 1;
  max-height: 200px;
}
