#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 1.5em;
  width: 1.5em;
  background: #000;
  margin: .5em;
  border-radius: 50%;
}