#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flag-niger {
  height: var(--flag-height);
  width: calc(var(--flag-height) * 7 / 6);
  display: flex;
  flex-direction: column;
}

.stripe {
  flex-grow: 1;
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange-circle {
  background-color: var(--orange);
  height: calc(var(--flag-height) / 3 * .85 );
  width: calc(var(--flag-height) / 3 * .85 );
  border-radius: 50%;
  position: absolute;
}

.green {
  background-color: var(--green);
}
